/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/

.debug #pink-container{
    height: 400px;
    width: 900px;
    background-color: #ee82ee;
}

.debug .flexbox-2-elements{
    height: 500px;
}

.debug #item-green{
    height: 900px;
}
/*General*/

.mpb-default{
    max-width: 1200px;
    margin: 0 auto;
}


a{
    color: black;
    text-decoration: none;
}

/*Header*/

header{
    background-color:#add8e6;
    padding: 15px;
}

.header-flexbox{
    background-color: #daa520;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Main*/

.blue-container{
    background-color:#00008b;
    padding: 30px 0 ;
}

.main-section {
    background-color: #ffffff;
}

.main-container {
    padding: 30px 0;
}

.main-section .main-container:nth-of-type(even){
    background-color: #d3d3d3;
}

.flexbox-2-elements{
    display: flex;
}

.reverse{
    flex-direction: row-reverse;
}

.flexitem-blue{
    background-color: #1e90ff;
    flex-grow: 2;
}

.flexitem-pink{
    background-color: #ffc0cb;
    flex-grow: 1;
}

#item-green {
    background-color: #228b22;
}

